
@{
    ViewBag.Title = "Login";
}

<h2>Login si eres Profesor</h2>

<div>
    <div class="row">
        <div class="danger">
            @ViewBag.Error
        </div>

        <form action="@Url.Content("/Profesor/Login")" method="post">

            <div class="form-group">
                <label>Usuario</label>
                <input type="email" name="correo" />
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="Pass" />

            </div>
            <div class="form-group">

                <input type="submit" value="Entrar" class="btn-success" />
            </div>
        </form>
    </div>
</div><input id="Password1" type="password" />