@{
    ViewBag.Title = "Pagina inicio";
    
}



<div class="jumbotron">

    <h1>Pagina de inicio para Escuela basica y media</h1>
    <p class="lead">Esta es la pagina de inicio de la escuela </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tiene fomularios</h2>
        <p>
            de apoderado y profesor
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tiene login</h2>
        <p>Tiene login diferencial</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tiene vistas</h2>
        <p>para apoderados t alumnos.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>